.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 13px 25px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.97);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }